body {
    font-family: 'Oxygen', sans-serif;
    font-size: 16px
}

#bg {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/bg.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden
}

#bg-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

#bg-content h1 {
    margin: 0;
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    letter-spacing: 0.05em;
    line-height: 0.9em
}

#bg-content h4 {
    color: #fff;
}

#bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.card-header-title {
    color: #1f699a;
}